*{
    box-sizing: border-box;
    margin: 0;

}

/* logo */
img{
    margin-left: 20px;
    vertical-align: middle;
}

.inline-b{
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}