*{
    box-sizing: border-box;
    margin: 0;

}

/* logo */
.contenitorelogo{
    margin: 20px;
}

.imglogo{
    vertical-align: middle;
}

.inline-b{
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

/* contenitore bottoni-testo*/
.contenitore {
    max-width: 1400px;
    margin: auto;
}

.contenitore-grande{
    background-color: rgb(236, 236, 243);
    height:100vh;
    padding-top: 30px;
}

.contenitore-bottone{
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom:3px;  
}

/* button */
.bottone {
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

.bottone1{
    background-color: rgb(25, 153, 232);
    border: none;
    color: white;
    

}

.bottone2{
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
}

/* contenitore testo */
.contenitore-testo{
    background-color:white;
    border-radius: 10px;
    height: 850px;
    padding: 40px 0 0 60px;
}

/* inizio testo */

.casella{
    background-color:rgb(25, 153, 232) ;
    border-radius: 18px;
    padding: 8px;
    font-size: 12px;
}



h3{
    font-size:35px; 
}

p{
    font-size:20px;
    margin: 10px 10px;
}

p::before{
    font-size: 18px;
    content:"\2713";
    border: 2px solid green;
    color: green;
    font-weight: bold;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    text-align: center;
    display: inline-block;
}

h3::before{
    content: "\21D3";
    font-size: 30px;
    margin-right: 5px;
}

/* seconda parte di testo */
.contenitore-Today{

}
